[defaults]
forks               = 40
host_key_checking   = False
ansible_managed     = Ansible-managed. Any manual change will be lost.
roles_path          = roles/
roles_file          = requirements.yml
callback_plugins    = callback_plugins
transport           = paramiko
local_tmp           = /tmp/$USER/.a
remote_tmp          = /tmp/$USER/.a
inventory           = inventories/all-prod
remote_user         = root
vault_password_file = ~/.lvault_pass
#log_path            = "~/ansiblelog.{{ lookup('pipe', 'date +%Y%m%d%H%M%S') }}.log"

[ssh_connection]
pipelining          = True
control_path        = /tmp/ansible-ssh-%%h-%%p-%%r
#ssh_args            = -o ControlMaster=auto -o ControlPersist=300s -o PreferredAuthentications=password -o PubkeyAuthentication=no -o GSSAPIAuthentication=no

