
             Welcome on theVoid Infrastructure
  ▄▄▄█████▓ ██░ ██ ▓█████ ██▒   █▓ ▒█████   ██▓▓█████▄
  ▓  ██▒ ▓▒▓██░ ██▒▓█   ▀▓██░   █▒▒██▒  ██▒▓██▒▒██▀ ██▌
  ▒ ▓██░ ▒░▒██▀▀██░▒███   ▓██  █▒░▒██░  ██▒▒██▒░██   █▌
  ░ ▓██▓ ░ ░▓█ ░██ ▒▓█  ▄  ▒██ █░░▒██   ██░░██░░▓█▄   ▌
    ▒██▒ ░ ░▓█▒░██▓░▒████▒  ▒▀█░  ░ ████▓▒░░██░░▒████▓
    ▒ ░░    ▒ ░░▒░▒░░ ▒░ ░  ░ ▐░  ░ ▒░▒░▒░ ░▓   ▒▒▓  ▒
      ░     ▒ ░▒░ ░ ░ ░  ░  ░ ░░    ░ ▒ ▒░  ▒ ░ ░ ▒  ▒
    ░       ░  ░░ ░   ░       ░░  ░ ░ ░ ▒   ▒ ░ ░ ░  ░
            ░  ░  ░   ░  ░     ░      ░ ░   ░     ░
                              ░                 ░

    System Location:    {{ location }}
    Administrator:      {{ snmpd_syscontact }}


