# {{ ansible_managed }}
{% if dns_domain is defined %}
domain {{ dns_domain }}
{% endif %}

{% if is_dns_server %}
nameserver 127.0.0.1
{% else %}
{% if is_ipaclient %}
{% for nameserver in dns_ipa_servers %}
nameserver {{ nameserver }}
{% endfor %}
{% else %}
{% for nameserver in dns_servers %}
nameserver {{ nameserver }}
{% endfor %}
{% endif %}
{% endif %}

{% if dns_searchs is defined %}
search{% for name in dns_searchs %} {{ name }}{% endfor %}
{% endif %}

{% if dns_options is defined and not is_dns_server %}
{% for option in dns_options %}
options {{ option }}
{% endfor %}
{% endif %}


